@import '../../styles.css';

.date-header {
    color: var(--primary-blue);
}

.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shifts-container {
    width: 60%;
    
}

.shift-list {
    display: flex; 
    flex-direction: column;
    align-items: center;
}