.rightSideWithForm {
    height: 100dvh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeHeading {
    font-family: var(--font-secondary);
    width: 35.5vw;
}

.welcomeHeading h1 {
    font-size: 2.5vw;
    font-weight: 400;
    color: var(--primary-blue);
}

.welcomeHeading p {
    font-weight: 400;
    font-size: 0.9vw;
    margin-top: -1vw;
    margin-bottom: 2vw;
}