
@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.neuron-app {
  display: flex;
  align-items: stretch;

  .neuron-app-content {
    flex: 1 1 auto;
    min-width: 0;
    transition: padding-left $transition-regular, width $transition-regular;
  }

  .neuron-navbar-container {
    height: 100vh;
    height: 100dvh;
    width: max-content;
    overflow: hidden;
    z-index: 9999;
    transition: background-color $transition-regular;
    flex-shrink: 0;
  
    &.small {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {
  .neuron-app {
    .neuron-app-content {
      margin-left: var(--navbar-displacement);
    }

    .neuron-navbar-container.desktop {
      display: block;
      position: fixed;
      inset: 0;
      width: unset;
      background-color: $bg-overlay;

      &.collapsed {
        background-color: transparent;
        pointer-events: none;
      }
    }
  }
}


@media (max-width: $breakpoint-md) {
  .neuron-app {
    .neuron-navbar-container {
      &.desktop {
        display: none;
      }

      &.small {
        display: block;
        position: fixed;
        inset: 0;
        padding: -5rem;
        width: unset;
        background-color: $bg-overlay;

        .neuron-navbar {
          transform: translateX(0);
          transition: transform $transition-fast;
        }

        &.collapsed {
          background-color: transparent;
          pointer-events: none;

          .neuron-navbar {
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}