.panel-details-description {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}

.panel-schedules {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel-no-schedules {
    color: #808080;
}