@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.class-edit {
    &__content {
        display: flex;
        flex-direction: column;
        gap: $padding-lg;
        padding: 2.25rem;
        padding-top: 0;
    }

    &__add-schedule {
        display: inline-flex;
        align-items: center;
        gap: 1.25rem;
        color: $text-grey;
        cursor: pointer;

        > svg {
            @include text-icon;
        }

        &[data-hovered] {
            background: $bg-white-hover;
        }
    }
}