
@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.navbar-toggle {
  display: none !important;

  > svg {
    color: $text-grey !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
  } 

  &.show {
    display: block !important;
  }
}

@media (max-width: $breakpoint-md) {
  .navbar-toggle {
    display: block !important;
  }
}