
@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.navbar-toggle {
  display: none !important;
  align-self: center;
  --btn-bg-hover: color-mix(in srgb, var(--tone-hover) 10%, transparent) !important;

  > svg {
    color: $text-grey !important;
    width: 1rem !important;
    height: 1rem !important;
  } 

  &.show {
    display: block !important;
  }
}

@media (max-width: $breakpoint-md) {
  .navbar-toggle {
    display: block !important;
  }
}