@import '../../styles.css';

.dash-container {
    font-family: var(--font-secondary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 36px;
    margin-top: 8px;
}

.dash-date-picker {
    width: fit-content;

    .MuiOutlinedInput-input {
        padding: 12px 16px;
    }
}

.dash-grid-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.dash-col-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
}

.dash-card-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0px;
    width: fit-content;
    cursor: pointer;
}

.dash-card-title:hover {
    text-decoration: underline;
}

.dash-hours-container {
    display: flex;
    flex-direction: row;
}

.dash-hours {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dash-completed-hours {
    font-size: 72px;
    color: var(--primary-blue);
    margin: 0px;
}

.dash-upcoming-hours {
    font-size: 72px;
    color: #808080;
    margin: 0px;
}

.dash-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dash-check-in {
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: var(--button-blue);
    color: white;
    padding: 2rem;
    box-sizing: border-box;
}

.dash-check-in-title {
    font-size: 40px;
}

.dash-next-check-in {
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius : 0.5rem;
}

.dash-next-title {
    font-size: 20px;
}

.dash-next-time-num {
    font-size: 40px;
    font-weight: 500;
}