**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/.idea
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/dist
**/prettierignore
LICENSE
README.md
