@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.select {
  width: fit-content;

  .form-input__input-container {
    border: 1px solid $primary;
    outline: none;
  }

  &__field {
    width: 100%;

    .form-input__input-container {
      border: 1px solid $bg-grey-outline;
  
      &[data-hovered] { 
        background: $bg-white-hover; 
      }
      
      &[data-disabled] { 
        border-color: $bg-grey-outline;
        background: $bg-grey-outline;
        cursor: not-allowed; 
  
        .form-input__trailing-icon {
          display: none;
        }
  
        .form-input__input {
          padding: $padding-sm $padding-md;
        }
      }
    }
  }

  &__popover {
    background: $bg-white;
    border: 1px solid $bg-grey-outline;
    border-radius: $radius-regular;
    box-shadow: $shadow-regular;
    overflow: hidden;
    min-width: var(--trigger-width);
  }

  &__listbox {
    max-block-size: 16rem;
    overflow: auto;
    padding: $padding-xxs;
    display: flex;
    flex-direction: column;
    gap: $padding-xxxs;
    outline: none;

    .react-aria-ListBoxItem {
      @include text-reg;
      padding: $padding-xs $padding-sm;
      cursor: pointer;
      border-radius: $radius-sm;
      outline: none;

      &[data-hovered] { 
        background: $bg-white-hover; 
      }
      
      &[data-focused] { 
        background: $bg-white-hover; 
      }
      
      &[data-selected] { 
        outline: 1px solid $primary;
      }
      
      &[data-disabled] { 
        color: $text-grey; 
        cursor: not-allowed; 
      }
    }
  }
}
