@import '../../styles.css';  /*Imports custom fonts*/

.tabs {
    width: auto;
    height: 40;
    margin: 28px 36px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 16px 0px var(--light-grey);
    border: 1px solid var(--grey);
    border-radius: 8px;
}

.num-unv-user-container {
    overflow: visible;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.num-unv-user {
    background: var(--red);
    color: var(--white);
    height: 22px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 400;
}

.tab {
    flex: 1;
    padding: 0.6vw;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.tab:first-child {
    border-radius: 8px 0 0 8px;
}

.tab:nth-child(2) {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.tab:last-child {
    border-radius: 0 8px 8px 0;
}

.tab.active {
    z-index: 1;
    background: var(--light-grey);
    border: 1px solid var(--primary-blue);
    color: var(--dark);
    font-family: var( --font-primary);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.member-search-bar {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0px 36px;
    margin-bottom: 16px;
    width: auto;
}

.member-search-input {
    flex: 1;
    padding: 8px 1vw 8px 2.5vw;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    background: transparent url("../../assets/search-icon.png") no-repeat 10px;
    background-size: 16px;
    height: 40px;
}

.member-search-input:focus {
    outline: none;
    border-color: var(--primary-blue);
}

.filter-button {
    background: url("../../assets/filter-icon.png") no-repeat center/contain;
    background-size: 16px;
    width: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}

.add-instructor-button {
    background-color: var(--button-blue);
    color: white;
    padding: 8px 16px 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.unverified {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-count {
    width: 1.2vw;
    height: 1.2vw;
    display: grid;
    place-items: center;
    padding: 0.15vw;
    font-size: 13px;
    background-color: var(--inactive-red);
    border-radius: 50%;
    color: white;
    margin-left: 7px;
}

