@import "../../styles.css";

/* TODO debug: remove this after testing
*:hover {
  outline: 1px solid red;
} */

.classes-page {
  font-family: var(--font-secondary);
}

.main-category-header {
  display: flex; /* Arrange children in a row */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
  background-color: transparent;
  border-bottom: 1px solid var(--grey);
}

.category-button {
  flex: 0 0 auto; /* Prevent buttons from shrinking or growing */
  /* margin: 0.5rem 1rem; */
  padding: 0.5rem 1.75rem 0.5rem 0;
  color: var(--dark-grey);
  border: none;
  white-space: nowrap; /* Prevent text from wrapping to multiple lines */
  cursor: pointer; /* Change cursor on hover */
  background-color: transparent;
  transition: background-color 0.3s ease; /* Smooth background color transition */
  width: fit-content;
  min-width: 100px;
  text-align: center;
  align-content: center;
  font-family: inherit; /* Need to specify inherit or it will use user agent stylesheet */
}

.category-button:first-child {
  padding-left: 2vw;
}

/* ----- */

.class-catalog {
  margin: 0 2vw 2vh 2vw;
}
