@import "../../styles.css";

.classes-page {
  font-family: var(--font-secondary);
  width: 100%;
  max-height: 100%
}

.main-category-header {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: transparent;
  border-bottom: 1px solid var(--grey);
  padding-left: 36px;
}

.back-button {
  background-color: transparent;
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
}

.back-button:hover {
  cursor: pointer;
}

.category-button {
  position: relative;
  flex: 0 0 auto; /* prevent shrinking or growing */
  text-align: center;
  margin: 0 1.125rem 0 1.125rem;
  padding: 0 0 0.5rem 0;
  color: var(--dark-grey);
  border: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
  min-width: 100px;
  text-align: center;
  align-content: center;
  font-family: inherit; /* Need to specify inherit or it will use user agent stylesheet */
}

.category-button:first-child {
  margin-left: 0;
}

.selected {
  color: var(--primary-blue);
}

/* Pseudo elements for the bottom border */
.category-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--secondary-blue);
  border-radius: 2px 2px 0 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scaleX(0);
  opacity: 0;
}

.category-button.selected::after {
  transform: scaleX(1);
  opacity: 1;
}

/* ----- */

.add-class-button {
  width: stretch;
  background: #fff;
  border: 2px dashed #D9D9D9;
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-size: 48px;
  color: #808080;
  cursor: pointer;
  margin-top: 36px;
  box-shadow: 0px 4px 16px 0px #0F11110D;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.add-class-container {
  display: flex;
}

.add-class-icon {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.classes-content {
  padding: 0 36px; 
  overflow-y: auto;
  height: 100%;
}

/* additional padding for class content scroll */
.spacer {
  height: 20vh;
  width: 100%;
}

.classes-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
}

.classes-title {
  flex: 1;
  color: var(--primary-blue);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: var(--page-title-text);
}