@import '../../styles.css';

.volunteerProfile {
    flex: 1;
}

.content {
    display: flex;
    margin: 0 32px;
    gap: 20px;
}

.column-1,
.column-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}