@import '../../styles.css';

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
    gap: 20px;
}

.column {
    display: subgrid;
    grid-auto-flow: row;
}

.card {
    margin-bottom: 20px;
}

.availability-placeholder {
    flex: 1;
    position: relative;
    max-width: 100%;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 32px;
    box-shadow: 0px 4px 16px 0px #0F11110D;
}