@import '../../styles.css';

.content {
    display: flex;
    font-family: var(--font-secondary);
    margin-bottom: 4vh;
    padding: 0 36px;
    gap: 20px;
}

.column-1,
.column-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
    }
}