@import '../../styles.css';

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
    gap: 20px;
}

.column {
    display: subgrid;
    grid-auto-flow: row;
}

.card {
    margin-bottom: 20px;
}