@import '../../styles.css';

.required-field-text {
    font-style: italic;
    color: var(--dark-grey);
}

.decline-coverage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 720px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 2.5rem;
}

.decline-coverage-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.decline-coverage-title {
    color: var(--primary-blue);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  
  .close-modal-btn:hover {
    cursor: pointer;
  }

  .decline-coverage-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
  }

  .decline-coverage-option {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    width: 50%;
  }

  .decline-coverage-checkbox {
    width: fit-content;
  }


  .decline-coverage-initials-label {
    margin-top: 0.5rem;
  }

  .decline-coverage-button {
    margin: 16px 0;
    background-color: var(--red);
    color: var(--white);
    border: var(--button-blue);
    width: 100%;
    padding: 12px 0px;
    height: fit-content;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }