@import '../../styles.css';  /*Imports custom fonts*/

.check-box {
     background-color: white;
     width: 16px;
     height: 16px;
     border: 1px solid var(--primary-blue);
     border-radius: 2px;
     padding: 0;
     position: relative;
}

.check-box:hover {
     cursor: pointer;
     filter:brightness(0.85);
}

.check-box > img {
     width: 17px;
     height: 17px;
     position: relative;
     top: -1px;
     left: -1px;
}