.class-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid var(--grey);
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.class-image {
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
}

.class-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.class-level {
  margin: 0;
  color: var(--primary-blue);
  font-size: var(--small-text);
  font-weight: var(--regular);
}

.class-title {
  margin: 0;
  font-size: var(--medium-text);
  font-weight: var(--semi-bold);
}

.class-schedule {
  margin: 0;
  font-size: var(--small-text);
  font-weight: var(--regular);
}
