@import '../../styles.css';

/* General Card Styles */
.coverage-card {
    display: flex;
    width: 100%;
    margin: .5rem;
    padding: .8rem .8rem;
    border: 1px solid #ccc;
    border-radius: .8rem;
    box-shadow: 0px 4px 16px rgba(15, 17, 17, 0.1);
    min-height: 3.5rem;
    align-items: center;
}

.coverage-card:hover {
    cursor: pointer;
}

/* Vertical Line Styles */
.coverage-vertical-line {
    width: .5rem;
    background-color: var(--grey);
    border-radius: 1.5rem;
    height: 100%;
    min-height: 3.5rem;
    margin-right: 2rem;
}

/* Card Content Layout */
.card-content {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80%;
    gap: 1rem;
}

.coverage-segment-1 {
    display: flex;
    width: 10%;
    flex-direction: column;
}

.coverage-segment-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.coverage-segment-3 {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Text and Typography */
.card-text {
    margin: 0;
    font-family: var(--font-primary);
}

.card-text h2 {
    margin: .25rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-dark, #0F1111);
}

.card-text p {
    margin: 0;
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--text-grey, #808080);
}

.coverage-card-text {
    max-width: 70%;
}

/* Button Layout */
.coverage-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverage-button {
    height: fit-content;
    border-radius: 8px;
    border: 1px solid var(--primary-blue);
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(15, 17, 17, 0.05);
    padding: 0.75rem 2rem;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* Button Interactions */
.coverage-button:not(:disabled):hover {
    cursor: pointer;
    border: none;
}

.coverage-button:disabled {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    box-shadow: none;
}

/* Icon within Button */
.card-button-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
    .coverage-segment-1 {
        display: none;
    }

    .coverage-segment-2 {
        flex: 1;
        flex-direction: column;
    }
    .coverage-segment-3 {
        display: none;
    }
}

.coverage-primary-action {
    background-color: var(--button-blue);
    color: var(--white);
    border: var(--button-blue);
}

.coverage-primary-action:hover {
    background-color: var(--button-blue-hover);
}