@use "variables" as *;

.auth-form-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: $padding-xxxl;
  width: min(100%, 40rem);
  padding: $padding-xxxl;

  .form-input__label {
    color: $text-dark;
  }
}

.auth-form-footer {
  align-self: center;
}

.auth-form-title {
  color: $primary;
  line-height: 1;
  align-self: flex-start;
}

.root-error-container {
  padding: $padding-md;
  background-color: rgba($text-error, .10);
  outline: solid 1px $text-error;
}