@use "./variables.scss" as *;
@use "./typography.scss" as *;

html,
body {
    font-family: $font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

/* Reset button styles */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  flex: 0 0 auto;
}

/* Remove flex shrink by default */
* {
  margin: 0;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Remove underline from links */
a {
  color: currentColor;
  text-decoration: none;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Hide the default expand arrow on Safari.  */
details summary::-webkit-details-marker {
    display: none;
}

/* Hide default arrows from number inputs. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Hide the default clear button (X) from search inputs. */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Disable animations before the root is hydrated, preventing jumps */
:root:not(.hydrated) *,
:root:not(.hydrated) *::before,
:root:not(.hydrated) *::after {
  transition: none !important;
  animation: none !important;
}
/* Override allow animation before hydration */
.allow-prehydrate-anim * { 
  animation: revert !important; 
}

/* Default typography */
h1 {
  @include text-lg-title;
}
h2 {
  @include text-pg-title;
}
h3 {
  @include text-title;
}
p, span {
  @include text-reg;
}
strong {
  @include text-reg-bold;
}

/* Global Navbar State */
:root { 
  --navbar-displacement: 0px; 

  &[data-nav-collapsed-lg="true"] { 
    --navbar-displacement: 80px; 
  }
}

@media (min-width: $breakpoint-md) {
  :root { --navbar-displacement: 80px; }
}

@media (min-width: $breakpoint-lg) {
  :root { 
    --navbar-displacement: 308px; 
    
    &[data-nav-collapsed-lg="true"] { 
      --navbar-displacement: 0px; 
    }
  }
}

