/* BASIS */
$spacing: 1rem;

/* FONT FAMILY */
$font-body: var(--font-roboto, "Roboto"), system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",sans-serif;
$font-display: var(--font-montserrat, "Montserrat"), var(--font-roboto, "Roboto"), system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

/* FONT SIZE */
$font-size-xs: 0.65rem;
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.75rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 4.5rem;

/* FONT WEIGHT */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* MAX WIDTH */
$max-width-container: 1280px;

/* BREAKPOINTS */
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 1024px;

/* PADDING */
$padding-xxxs: 0.125rem;
$padding-xxs: 0.25rem;
$padding-xs: 0.5rem;
$padding-sm: 0.75rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;
$padding-xl: 1.5rem;
$padding-xxl: 2rem;
$padding-xxxl: 2.5rem;

/* RADIUS */
$radius-none: 0px;
$radius-xs: 0.125rem;
$radius-sm: 0.1875rem;
$radius-ms: 0.25rem;
$radius-md: 0.375rem;
$radius-regular: 0.5rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.5rem;
$radius-full: 9999px;

/* COLORS */
$primary: #4385AC;
$secondary: #59A5D5;

$bg-white: #FFF;
$bg-white-hover: #f4f4f4;
$bg-sidebar-lightblue: #F0FAFF;
$bg-sidebar-lightblue-hover: #e0f5ff;
$bg-grey-outline: #D9D9D9;
$bg-overlay: #f9f9f980;

$text-dark: #0F1111;
$text-dark-hover: #0f1111;
$text-grey: #808080;
$text-grey-hover: #545454;
$text-white: #FFF;
$text-white-hover: #e6e6e6;
$text-success: #157F2A;
$text-error: #952018;
$text-error-hover: #ab251c;

//Fix hovers later
$button-primary: #1A7DB7;
$button-primary-hover: #1d8ac9;
$button-positive: #157F2A;
$button-positive-hover: #199531;
$button-negative: #952018;
$button-negative-hover: #ab251c;
$button-disabled: #D9D9D9;

/* SHADOW */
$bg-sidebar: radial-gradient(ellipse 34rem 55rem at 8rem calc(100% + 20rem), $secondary 0%, rgba($secondary, 0.08) 46.79%, rgba($secondary, 0) 100%);
$shadow-regular: 0 4px 16px 0 rgba($text-dark, 0.05);

/* TRANSITION */
$transition-fast: 0.1s ease-in-out;
$transition-regular: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;

$transition-hover: 0.1s linear;

/* ANIMATION */
$animation-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
@keyframes pulse { 50% { opacity: 0.5; } }
