@import '../../styles.css';  /*Imports custom fonts*/

.main-container {
     height: 100%;
     transition: 0.3s width ease-in-out;
}

.panel-container {
     position: fixed;
     height: 100vh;
     top: 0px;
     right: 0px;
     z-index: 1;
     transition: 0.3s width ease-in-out;
     border-left: 1px solid #e3e3e3;
     padding-top: 50px;
     overflow: hidden;
}

.panel-header {
     width: 87%;
     height: auto;
     margin-right: 36px; 
     margin-left: 20px;
     position: relative;
     padding-bottom: 20px;
     border-bottom: 1px solid #e3e3e3;
     display: flex;
     flex-direction: column;
     gap: 4px;
}

.panel-header-class-name {
     font-family: 'Montserrat';
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     color: #0f1111;
}

.panel-button-icon {
     padding: 0px;
     background-color: transparent;
     border: none;
     cursor: pointer;
}

.panel-button-icon-close {
     position: absolute;
     right: 0px;
     top: 0px;
     width: fit-content;
     height: fit-content;
}

.panel-header-time {
     width: 100%;
}

.panel-button-icon:hover {
     filter:brightness(0.6);
}

.panel-details {
     margin-right: 36px; 
     margin-left: 20px;
     padding: 32px 0px;
}

.panel-titles {
     min-width: 120px;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 16px;
     line-height: 21.6px;
     color: #808080;
}

.status {
     padding: 4px 12px;
     width: fit-content;
     border-radius: 4px;
}
.myClass {
     background: rgba(24, 149, 49, 0.1);
     color: #189531;
}
.classTaken {
     background: rgb(211, 211, 211);
     color: rgb(111, 111, 111)
}
.panel-details-shift {
     display: flex;
     flex-direction: column;
     gap: 12px;
}

.panel-details-shift-row {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.panel-details-shift-right {
     width: 264px;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 16px;
}

.volunteer-profile {
     width: 28px;
     height: 28px;
     background-color: #808080;
     border-radius: 4px;
     opacity: 0.3;
     margin-right: 6px;
}

.panel-details-description {
     margin-top: 20px;
}

.panel-description {
     margin-top: 10px;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 16px;
     line-height: 21.6px;
}

.button-icons {
     display: flex;
     flex-direction: row;
     gap: 4px;
     width: fit-content;
     margin-left: auto;
     margin-right: 36px;
     margin-top: 20px;
}

/* Dynamic Button Styling based on Shift Type */
.panel-buttons {
     padding-top: 2vh;
     height: 4vh;
     display: flex;
     flex-direction: row;
     gap: 12px;
}

.dynamic-button {
     position: relative;
     height: 100%;
     border-radius: 8px;
     border: 1px solid var(--primary-blue);
     background: #FFF;
     box-shadow: 0px 4px 16px 0px rgba(15, 17, 17, 0.05);
     padding: 0 1rem;
     display: flex;
     align-items: center;
 }
 
 .dynamic-button:not(:disabled):hover {
     cursor: pointer;
     background: var(--button-blue);
     border: none;
 }
 
 .dynamic-button:disabled {
     background-color: #d3d3d3;
     border: 1px solid #d3d3d3;
     box-shadow: none;
 }
 
 /* Icon within Button */
 .card-button-icon {
     width: 1rem;
     height: 1rem;
     margin-right: .5rem;
 }