@import '../../styles.css';


/* General Card Styles */
.class-pref-card {
    margin: .5rem;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: .8rem;
    box-shadow: 0px 4px 16px rgba(15, 17, 17, 0.1);
    min-height: 50px;
    background-color: white;
    position: relative;
    height: auto;
    transition: height 0.3s ease-in-out;
}
.class-pref-card > .pref-main-content {
    flex: 1;
    align-items: center;
    width: 100%;
    display: flex;
}

.class-pref-card:hover {
    filter: brightness(0.95);
}

/* Vertical Line Styles */
.pref-main-content > .vertical-line {
    width: .5rem;
    background-color: var(--grey);
    border-radius: 1.5rem;
    height: 50px;
    min-height: 3rem;
    margin-right: 15px;
}

/* Card Content Layout */
.card-content {
    display: flex;
    width: auto;
    align-items: center;
    height: 80%;
}

.card-content .segment-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.card-content .segment-2 {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Text and Typography */
.segment-2 > .card-text, .segment-1 > .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: var(--font-primary);
    height: 50px;
}

.segment-1 > .card-text {
    gap: 8px;
}

.card-text > div {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--dark);
    font-weight: 400;
    line-height: 135%;
}

.card-text p {
    margin: 0;
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--text-grey, #808080);
    display: inline-block;
    margin-top: 3px;
}

.segment-1 p {
    text-wrap: nowrap;
}

.card-text > .class-pref-time {
    width: 105px;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--dark);
    font-weight: 600;
    line-height: 135%;
}


/* Responsive Adjustments */
@media (max-width: 1000px) {
    .pref-main-content .segment-1 {
        display: none;
    }

    .pref-main-content .segment-2 {
        flex: 1;
        flex-direction: column;
    }
}

.class-pref-card .dropdown-button {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1.75rem;
    right: 15px;
    background-color: white;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
    display: block;
}

.class-pref-card .dropdown-button.collapse {
    transform: rotate(90deg);
}

.pref-card-intrs {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 12px;
    margin: 5px 20px;
    font-family: Roboto;
    line-height: 135%;
    letter-spacing: 0%;
    color: var(--dark);
}