@use "./variables.scss" as *;
@use "sass:color";

.skeleton {
    animation: $animation-pulse;
    background-color: $bg-grey-outline;

    &__button {
        height: 2.5rem;
        border-radius: $radius-regular;
        width: 8rem;

        &.small {
            height: 1.875rem;
            width: 5.5rem;
        }
    }

    &__text {
        height: 1rem;
        border-radius: $radius-sm;
    }
}

