@use "variables" as *;
@use "typography" as *;

.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: $padding-lg;
  padding-bottom: 1.75rem;
  padding-inline: 2.25rem;
  gap: $padding-sm;

  .header-right,
  .header-left {
    display: flex;
    align-items: flex-start;
    gap: $padding-sm;
  }
}

@media (max-width: $breakpoint-md) {
  .page-header {
    padding-left: $padding-sm;
  }
}
