.fc-day-mon,
.fc-day-wed,
.fc-day-fri,
.fc-day-sun {
    background-color: rgba(217, 217, 217, 0.15);
}

.fc-timeGridDay-view .fc-col-header {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button {
        cursor: pointer;
    }
}

.dayview-header {
    display: flex;
    justify-content: "space-between";
    margin-bottom: "0.5rem";
    border-bottom: "1px solid #ddd";

    .dayview-header-date {
        flex: 1;
        padding: 0.5rem 0;
    
        background-color: #f8f9fa;
        border-bottom: 1px solid #ddd;
        transition: all 0.2s ease;
    
        text-align: center;
        font-weight: normal;

        cursor: pointer;
    
        &-selected {
            color: #4385ac;
            font-weight: bold;
            border-bottom: 2px solid #4385ac;
        }
    }
}

.fc th {
    text-align: left;
}

.week-header {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0.75rem 0.5rem;
    text-align: left;
    font-weight: normal;
    
    &-current-day {
        font-weight: bold;
        color: #4385AC;
    }
}

.aside-label {
    color: #808080;
}