@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.form-content {
  width: 100%;
  gap: $padding-lg;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  gap: $padding-sm;
  grid-template-columns: 1fr 1fr;
  align-items: self-start;
}

.form-input {
  @include text-reg;
  display: flex;
  flex-direction: column;
  gap: $padding-xxs;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: max-content;

  &__label {
    @include text-reg;
    color: $text-grey;
  }

  &__group {
    display: grid;
    grid-template-columns: 100%;
    gap: $padding-xs;
    width: 100%;

    &-inline {
      grid-template-columns: minmax(7.5rem, 1fr) 4fr;
      align-items: center;
    }
  }

  &__input-container {
    display: flex;
    place-items: center;
    width: 100%;
    position: relative;
    border-radius: $radius-regular;
    border: 1px solid $bg-grey-outline;
    background: $bg-white;
    outline-color: $primary;
    overflow: hidden;
    text-align: start;

    &[data-hovered] { 
      background: $bg-white-hover; 
    }
  }

  &__input {
    @include text-reg;
    padding: $padding-sm $padding-md;
    margin: 0;
    outline: none;
    border: none;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    &.has-trailing-icon {
      padding-inline-end: calc($font-size-md + $padding-md + $padding-sm);
    }

    &[data-placeholder] { 
      color: $text-grey; 
    }
  }

  &__trailing-icon {
    position: absolute;
    cursor: pointer;
    right: $padding-md;
    color: $text-grey;
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    align-self: center;
  }

  &__error {
    @include text-reg;
    color: $text-error;
    display: inline-flex;
    gap: $padding-xxs;
    align-items: center;

    > svg {
      @include text-icon;
    }
  }

  &__bottom-container {
    display: flex;
    width: 100%;
    
    .form-input__description {
      margin-inline-start: auto;
    }
  }

  &[data-invalid] .form-input__input {
    border-width: 2px;
    border-color: $text-error;
    outline-color: $text-error;
    outline-offset: 0px;

    &[data-focused] {
      border-width: 3px;
      border-color: $text-error-hover;
      outline-color: $text-error-hover;
    }
  }
}