@use "variables" as *;

.inactive-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  min-width: 100dvw;
  min-width: 100vw;
  overflow: hidden;
  background-color: $bg-white;

  .inactive-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    gap: $padding-lg;
  }

  .inactive-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 45rem;
    gap: $padding-xs;
  }

  h3 {
    color: $primary;
  }
}


.not-verified-image {
  max-width: 100%;
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.account-verification-page h1 {
  font-size: var(--title-text, 40px);
  font-weight: 500;
  color: var(--primary-blue, #4794D1);
  margin-bottom: 15px;
}

.account-verification-contact-text {
  margin-bottom: 20px;
}
