.class-form {
    width: stretch;
    height: fit-content;
}

.form-block {
    width: stretch;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    border-width: 1px;
    padding: 32px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 16px 0px #0F11110D;
}

.schedule-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.section-title {
    margin: 0;
    font-size: var(--title-text);
    font-weight: var(--semi-bold);
    font-family: var(--font-secondary);
}

.form-body {
    width: stretch;
    font-family: var(--font-primary);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 24px
}

.class-form-input {
    font-family: var(--font-primary);
    width: stretch;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 16px;
}

.class-form-input[type="date"], .class-form-input[type="time"] {
    font-family: var(--font-primary);
    font-size: 14px;
    width: stretch;
}

.invalid-message {
    width: stretch;
    text-align: right;
    color: #FF0000;
    margin-top: 4px;
    font-size: 12px;
}

.class-form-input:focus {
    outline: none;
}

.input-row {
    display: flex;
    gap: 24px;
    width: stretch;
}

@media screen and (max-width: 1400px) {
    .input-row {
        flex-wrap: wrap;
    }
}

.flex-input {
    display: flex;
    width: stretch;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .category-input {
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }
}

.class-form-label {
    color: #808080;
    width: fit-content;
    white-space: nowrap;
    font-size: 14px;
    margin: 0px;
}

.select {
    width: stretch;
}

.select-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    color: #666;
}

.select-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: stretch;
    min-width: fit-content;
    padding: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.select-item {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    white-space: nowrap;
}

.select-item:hover {
    border: 1px solid #4385ac;
    border-radius: 5px;
    background-color: #f0faff;
}

.flex-col-input {
    width: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-input {
    flex: 2;
}

.class-form-textarea {
    width: stretch;
    height: stretch;
    min-height: 18px;
    max-height: 400px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 16px;
    font-family: var(--font-primary);
}

textarea:focus {
    outline: none;
}

.image-input {
    flex: 1;
}

.image-content {
    width: stretch;
    aspect-ratio: 1 / 1;
    position: relative;
}

.class-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.class-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Hidden by default */
    cursor: pointer;
}

.class-upload-content {
    width: stretch;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    border: 2px dashed #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-icon {
    width: 48px;
    height: 48px;
}

.edit-button {
    margin-top: 12px;
    border: none;
    color: #fff;
    width: fit-content;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #1A7DB7;
    cursor: pointer;
}

.image-content:hover .class-image-overlay {
    opacity: 1; /* Show overlay on hover */
}

.file-input {
    display: none;
}

.error-wrapper {
    width: stretch;
}

.schedules-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.days-input {
    width: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.days-row {
    width: stretch;
    display: flex;
    box-shadow: 0px 4px 16px 0px #0F11110D;
}

.day-input {
    width: stretch;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #808080;
    padding: 12px 16px;
    font-family: var(--font-primary);
    background-color: #fff;
}

.day-input:hover {
    cursor: pointer;
}

.sunday-input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.saturday-input {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.volunteers-row {
    display: flex;
    gap: 8px;
    align-items: center;
}

.volunteer-item {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.delete-schedule-row {
    text-align: right;
}

.delete-schedule-button {
    border: none;
    color: #fff;
    width: fit-content;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #952018;
}

.delete-schedule-button:hover {
    cursor: pointer;
    background-color: #6f1913;
}

.delete-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(34, 34, 34, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-popup {
    background: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.delete-popup-title {
    text-align: left;
    margin: 0;
    font-size: var(--title-text);
    font-weight: var(--semi-bold);
    font-family: var(--font-secondary);
}

.delete-popup-prompt {
    margin: 0;
    font-size: 14px;
    font-family: var(--font-primary);
}

.delete-popup-buttons {
    display: flex;
    width: stretch;
    gap: 12px;
}

.cancel-button {
    width: stretch;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #bcbcbc;
    background: #FFF;
}

.cancel-button:hover {
    cursor: pointer;
    background: #fafafa;
}

.confirm-delete-button {
    width: stretch;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #952018;
}

.confirm-delete-button:hover {
    cursor: pointer;
    background-color: #6f1913;
}

.add-volunteers {
    width: fit-content;
}

.add-schedule-button {
    background-color: #fff;
    text-align: left;
}

.add-schedule-button:hover { 
    cursor: pointer;
    background-color: #fafafa;
}

.add-schedule-text {
    color: #808080;
}


.submit-button {
    border: none;
    color: #fff;
    width: fit-content;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #1A7DB7;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #176a9a;
}

.submit-button:disabled {
    cursor: default;
    background-color: #808080;
}