@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;

.field-error {
  @include text-reg;
  color: $text-error;
  display: inline-flex;
  gap: $padding-xxs;
  align-items: center;

  > svg {
    @include text-icon;
  }
}

.form-error .field-error {
  gap: $padding-sm;
}