@import '../../styles.css';

.shift-card {
    display: flex;
    width: 100%; /* Full width of the card */
    margin: 1rem;
    padding: 1rem .8rem;
    border: 1px solid #ccc; /* Change this to your desired border color */
    border-radius: .8rem; /* Rounded corners */
    box-shadow: 0px 4px 16px rgba(15, 17, 17, 0.1); /* Box shadow */
    height: 3.5rem;
}

.card-content {
    padding: 1rem; /* Padding inside the card */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.vertical-line {
    width: 10px; 
    border-radius: 5px;
    height: 100%; /* Adjust height as needed (e.g., 80% of card height) */
    background-color: var(--secondary-blue); /* Change this to your desired color */
}

.segment {
    padding: 0 10px; 
}

.segment-1 {
    flex: 1;
}

.segment-2 {
    flex: 2;
}

h6 {
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Adjust font size as needed */
}

p {
    margin: 0; /* Remove default margin */
    font-size: 0.875rem; /* Adjust font size as needed */
}