@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: $padding-md;
  border-bottom: 1px solid $bg-grey-outline;
  padding-bottom: $padding-lg;
}

.sidebar-field {
  display: grid;
  grid-template-columns: 100%;
  gap: $padding-xxs;

  &.inline {
    grid-template-columns: 4fr 6fr;
    gap: $padding-xs;
  }

  &__label {
    @include text-reg;
    color: $text-grey;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $padding-xxs;
  }
}

.sidebar-container {
  padding: 4.25rem 2.25rem 2.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: $padding-xxl;
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: $padding-lg;
    border-bottom: 1px solid $bg-grey-outline;
  }

  &__header-title {
    display: flex;
    flex-direction: column;
    gap: $padding-xxs;

    > span {
      color: $text-grey;
    }
  }

  &__header-close {
    margin-right: -$padding-xs;
    color: $text-grey;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $padding-sm;
  }

  &__footer {
    
  }
}
