/************************************************************************************************/
/* Roboto - Increasing text boldness */

@font-face {
     font-family: "Roboto-Thin";  
     src: url("./assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
     font-family: "Roboto-Light";  
     src: url("./assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
     font-family: "Roboto-Regular";  
     src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
     font-family: "Roboto-Medium";  
     src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
     font-family: "Roboto-Bold";  
     src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
     font-family: "Roboto-Black";  
     src: url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

/************************************************************************************************/

@font-face {
     font-family: "Montserrat";  
     src: local("Montserrat-VariableFont_wght"),
          url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}





