/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Karla:ital,wght@1,200&family=Kumbh+Sans:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Mulish:wght@300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Karla:ital,wght@1,200&family=Kumbh+Sans:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:wght@300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Font families */
:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-tertiary: 'Inter', sans-serif;
  /* Add more fonts as needed */
}

/* Color Variables */
:root {
  --primary-blue: #4385AC;
  --secondary-blue: #59A5D5;
  --dark-blue: #59A5D514;
  --grey: #D9D9D9;
  --dark: #0F1111;
  --light-grey: #F0FAFF;
  --white: #FFFFFF;

    /* Button-specific Colors */
    --dark-grey: #808080;
    --green: #28a745;
    --yellow: #CB8324;
    --red: #952018;
  --button-blue: #1687CA;
  --error-red: #DC3545;
}

:root {
  --small-text: 14px;
  --medium-text: 16px;
  --large-text: 22px;
  --title-text: 24px;
}

body {
  margin: 0;
  padding: 0;
}

.notyf {
  font-family: var(--font-primary);
}