@import '../../styles.css';

.account-verification-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.account-verification-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  padding: 20px;
}

.not-verified-image {
  max-width: 100%;
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.account-verification-page h2 {
  font-size: var(--title-text, 40px);
  font-weight: 500;
  color: var(--primary-blue, #4794D1);
  margin-bottom: 15px;
}

.account-verification-contact-text {
  margin-bottom: 20px;
}

.account-verification-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--button-blue);
  font-size: var(--font-primary, 12px);
  box-shadow: 0px 4px 16px #0F111205;
  cursor: pointer;
  margin-top: 0.5vw;
  color: white;
}