.inputWithLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

label {
    margin-bottom: 0.3vw;
    font-weight: light;
    font-size: 1vw;
}

.inputWithLabel input {
    font-family: var(--font-primary);
    padding: 1vw 0.8vw;
    border-radius: 8px;
    border: 1px solid var(--grey);
    font-size: 1vw;
}

input.error {
    border: 1px solid var(--error-red);
}

.inputWithLabel input::placeholder {
    font-size: 1vw !important;
}

#passwordIcon {
    position: absolute;
    right: 1vw;
    top: 2.1vw;
    cursor: pointer;
}

.hint {
    margin-left: 5px;
    font-style: italic;
    font-size: 0.9vw;
    color: var(--dark-grey);
}

.error-message {
    color: var(--error-red);
    font-size: 0.9vw;
    margin-top: 0.4vw;
    display: flex;
    align-items: center;
    gap: 3px;
}