@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.neuron-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19.25rem;
    height: 100%;
    background-color: $bg-sidebar-lightblue;
    background-image: $bg-sidebar;
    border-right: 2px solid $bg-grey-outline;
    padding: $padding-lg;
    overflow: hidden;
    transition: width $transition-fast;
    pointer-events: auto;

    a {
        text-decoration: none;
    }

    .navbar-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $padding-xxxl;
    }

    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.5rem;

        .navbar-brand {
            aspect-ratio: 1 / 1;
            display: inline-flex;
            align-items: center;
            gap: $padding-sm;
            color: $primary;
            text-decoration: none;
            font-weight: $font-weight-semibold;

            &-icon {
                width: 2.5rem;
                height: 2.5rem;
            }

            &-text {
                @include text-pg-title;
                font-weight: $font-weight-regular;
                white-space: nowrap; 
            }
        }
    }

    .navbar-nav {
        @include scrollbar-hide();
    }
    .navbar-links { 
        display: flex; 
        flex-direction: column;
    }

    .navbar-link {
        display: flex;
        align-items: center;
        gap: $padding-xxs;
        color: inherit;
        text-decoration: none;
        font-size: $font-size-base;
        border-radius: $radius-regular;
        padding: $padding-md 0;
        position: relative;
        justify-content: unset;
        --btn-bg-hover: color-mix(in srgb, var(--tone-hover) 10%, transparent) !important;

        &::before {
            content: "";
            position: absolute;
            left: calc(-5px - #{$padding-lg});
            top: 0;
            bottom: 0;
            width: 5px;
            border-radius: 0 $radius-regular $radius-regular 0;
            background: $secondary;
            transition: left $transition-regular;
        }

        &[aria-current]::before {
            left: -$padding-lg;
        }

        &-icon {
            color: $text-dark !important;
            width: 2.5rem;
            height: 1.25rem;
        }

        &-label {
            white-space: nowrap; 
            transition: opacity $transition-fast;
        }
    }

    .navbar-footer {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &.collapsed {
        width: 5rem;

        .navbar-header {
            justify-content: center;
        }
        .navbar-brand {
            display: none;
        }
        .navbar-link {
            padding: $padding-xs 0;
            margin: $padding-xs 0;
        }
        .navbar-link-label { 
            opacity: 0; 
        }
    }
}