@import '../../styles.css';  /*Imports custom fonts*/

.main-container {
     height: 100%;
     transition: 0.3s width ease-in-out;
}

.panel-container {
     position: fixed;
     height: 100vh;
     top: 0px;
     right: 0px;
     z-index: 1;
     transition: 0.3s width ease-in-out;
     border-left: 1px solid #e3e3e3;
     background: white;
     overflow-y: auto;
}

.panel-content {
     padding-top: 50px;
}

.panel-header {
     width: 87%;
     height: auto;
     margin-right: 36px; 
     margin-left: 20px;
     position: relative;
     padding-bottom: 20px;
     border-bottom: 1px solid #e3e3e3;
     display: flex;
     flex-direction: column;
}

.panel-header-date-details {
     font-family: var(--font-primary);
     font-size: 14px;
     color: var(--dark-grey);
     display: flex;
     flex-direction: column;
     gap: 4px;
     margin-bottom: 20px;
}

.panel-class-schedules {
     display: flex;
     flex-direction: column;
     gap: 6px;
     margin-bottom: 20px;
}

.panel-header-class-name {
     font-family: 'Montserrat';
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     color: #0f1111;
}

.panel-button-icon {
     padding: 0px;
     background-color: transparent;
     border: none;
     cursor: pointer;
}

.panel-button-icon-close {
     position: absolute;
     right: 0px;
     top: 0px;
     width: fit-content;
     height: fit-content;
}

.panel-header-time {
     width: 100%;
}

.panel-button-icon:hover {
     filter:brightness(0.6);
}

.panel-titles {
     min-width: 120px;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 14px;
     line-height: 21.6px;
     color: #808080;
}

.panel-details {
     margin-right: 36px; 
     margin-left: 20px;
     padding: 20px 0;
}

.panel-details-shift {
     display: flex;
     flex-direction: column;
     gap: 12px;
}

.panel-details-shift-row {
     display: flex;
     flex-direction: row;
     align-items: start;
}

.zoom-link {
     margin-top: 4px;
     align-items: center;
}

.panel-details-shift-right {
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 14px;
     display: flex; 
     align-items: center;
}

.volunteer-profile {
     width: 28px;
     height: 28px;
     border-radius: 4px;
     margin-right: 6px;
}

.panel-description {
     margin-top: 10px;
     margin-top: 0.5rem;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 14px;
     line-height: 21.6px;
}

.zoom-icon {
     height: 1.5rem;
     width: 1.5rem;
     margin-right: 0.5rem; 
}

.email-icon {
     margin-left: 0.5rem;
}
 
.join-class-button {
     display: flex; 
     flex-direction: row; 
     align-items: center; 
     padding: 0.5rem 1rem;
     text-decoration: none;
     border-radius: 8px;
     border: 1px solid var(--primary-blue);
     background: #FFF;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
 
.join-class-button a {
     text-decoration: none;
     color: var(--dark);
     display: flex; 
     flex-direction: row;
     align-items: center; 
}
 
.join-class-button:hover {
     cursor: pointer;
     background: var(--button-blue);
}

.class-volunteers {
     display: flex;
     flex-direction: column;
     gap: 8px;
}