@import '../../styles.css';  /*Imports custom fonts*/

.main-container {
     height: 100%;
     transition: 0.3s width ease-in-out;
}

.panel-container {
     position: fixed;
     height: 100vh;
     top: 0px;
     right: 0px;
     z-index: 1;
     transition: 0.3s width ease-in-out;
     border-left: 1px solid #e3e3e3;
     padding-top: 50px;
     overflow: hidden;
     background: white;
}

.panel-header {
     width: 87%;
     height: auto;
     margin-right: 36px; 
     margin-left: 20px;
     position: relative;
     padding-bottom: 20px;
     border-bottom: 1px solid #e3e3e3;
     display: flex;
     flex-direction: column;
     gap: 4px;
}

.panel-header-class-name {
     font-family: 'Montserrat';
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     color: #0f1111;
}

.panel-button-icon {
     padding: 0px;
     background-color: transparent;
     border: none;
     cursor: pointer;
}

.panel-button-icon-close {
     position: absolute;
     right: 0px;
     top: 0px;
     width: fit-content;
     height: fit-content;
}

.panel-header-time {
     width: 100%;
}

.panel-button-icon:hover {
     filter:brightness(0.6);
}