@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.nav-profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-white;
    border-radius: $radius-regular;
    padding: $padding-xs $padding-sm;
    border: unset;
    cursor: pointer;
    box-shadow: $shadow-regular;

    transition: padding $transition-fast;

    &[aria-current],
    &:hover,
    &:focus,
    &__avatar-collapse img:hover,
    &__avatar-collapse img:focus {
        outline: 2px solid $primary;
    }

    &__main {
        display: flex;
        flex-direction: row;
        gap: $padding-xs;
        align-items: center;
        min-width: 0;
        height: 3rem;
    }

    &__avatar {
        display: flex;
        justify-content: center;

        & img {
            border-radius: $radius-md;
            border-radius: $radius-regular;
            object-fit: cover;
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        transition: opacity $transition-fast;
        align-items: flex-start;
    }

    &__name,
    &__email {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    &__name {
        @include text-reg;
        color: $text-dark;
    }

    &__email {
        @include text-xs;
        color: $text-grey;
    }

    &__caret {
        @include text-icon;
    }

    &.collapsed {
        padding: $padding-xxxs;
        border-radius: $radius-md;

        .nav-profile-card__info,
        .nav-profile-card__caret {
            width: 0;
            height: 0;
            overflow: hidden;
            margin-block: auto;
            margin-inline-end: 0;
            opacity: 0;
        }
        
        .nav-profile-card__main {
            height: unset;
            gap: 0;
        }

        .nav-profile-card__avatar img {
            border-radius: $radius-ms;
        }
    }
}