.neuron-table {
  width: 100%;
  table-layout: auto;
  overflow: hidden;
}

.neuron-table__thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f4f4f4;
}

.neuron-table__th {
  color: var(--text-dark, #0F1111);
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  padding: 20px 16px 16px 0px;
  border-bottom: 1px solid var(--bg-grey-outline, #d9d9d9);
}

.neuron-table__th:nth-last-child(2) {
  padding-right: 0px;
}

.neuron-table__spacer {
  padding: 0 !important;
  width: 20px;
  min-width: 20px;
}

.neuron-table__td {
  padding-block: 12px;
  padding-right: 12px;
  font-size: 0.75em;
  background-color: #fff;
}

.neuron-table__td:nth-last-child(2) {
  padding-right: 0px;
}

.neuron-table__td i {
  color: var(--text-grey, #808080);
  white-space: normal;
  overflow-wrap: break-word;
}

.neuron-table__tbody tr:hover {
  background: #F0FAFF;
}

.neuron-table__cell {
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.neuron-table__spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid var(--dark-blue);
  border-top-color: var(--primary-blue);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 10px auto; /* for spacing */
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}