.neuron-table-container {
  border-radius: 8px;
  border: 1px solid var(--bg-grey-outline, #D9D9D9);
  background: var(--bg-white, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(15, 17, 17, 0.05);
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.neuron-table-scroll {
  overflow: auto;
  flex-grow: 1;
}

.neuron-table {
  width: 100%;
}

.neuron-table__thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f4f4f4;
}

.neuron-table__th {
  color: var(--text-dark, #0F1111);
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--bg-grey-outline, #d9d9d9);
}

.neuron-table__td {
  padding-block: 12px;
  padding-right: 12px;
  font-size: 0.75em;
  white-space: nowrap;
}

.neuron-table__td:nth-last-child(2) {
  padding-right: 0px;
}

.neuron-table__td i {
  color: var(--text-grey, #808080);
  white-space: normal;
  overflow-wrap: break-word;
}

.neuron-table__tbody tr:hover {
  background: #F0FAFF;
}

.neuron-table__pagination {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.neuron-table__pagination-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.neuron-table__pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.neuron-table__pagination-info {
  font-size: 0.9rem;
}

.neuron-table__pagination-select {
  padding: 0.5rem;
  font-size: 0.9rem;
}
