/* BASIS */
$spacing: 1rem;

/* FONT FAMILY */
$font-body: var(--font-roboto, "Roboto"), system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",sans-serif;
$font-display: var(--font-montserrat, "Montserrat"), var(--font-roboto, "Roboto"), system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

/* FONT SIZE */
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.75rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 4.5rem;

/* FONT WEIGHT */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* MAX WIDTH */
$max-width-container: 1280px;

/* BREAKPOINTS */
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

/* PADDING */
$padding-xxs: 0.25rem;
$padding-xs: 0.5rem;
$padding-sm: 0.75rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;
$padding-xl: 1.5rem;
$padding-xxl: 2rem;
$padding-xxxl: 2.5rem;

/* RADIUS */
$radius-none: 0px;
$radius-xs: 0.125rem;
$radius-sm: 0.1875rem;
$radius-md: 0.375rem;
$radius-regular: 0.5rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.5rem;
$radius-full: 9999px;

/* COLORS */
$primary: #4385AC;
$secondary: #59A5D5;

$bg-white: #FFF;
$bg-sidebar-lightblue: #F0FAFF;
$bg-grey-outline: #D9D9D9;

$text-dark: #0F1111;
$text-grey: #808080;
$text-white: #FFF;
$text-success: #157F2A;
$text-error: #952018;

$button-primary: #1A7DB7;
$button-positive: #157F2A;
$button-negative: #952018;
$button-disabled: #D9D9D9;

/* SHADOW */
$bg-sidebar: radial-gradient(100.16% 100.16% at 50% 82.63%, $secondary 0%, rgba($secondary, 0.08) 46.79%, rgba($secondary, 0) 100%);
$shadow-regular: 0 4px 16px 0 rgba($text-dark, 0.05);

