@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.form-input {
    &__input-container {
        align-items: stretch;
    }

    &__textarea {
        min-block-size: 6rem;
        resize: none;
        line-height: 1.4;
        overflow: scroll;
        white-space: wrap;
    }
}