name: deploy
on:
  # We want to deploy from main on our own schedule
  workflow_dispatch:

permissions:
  packages: write

jobs:
  #   run-tests:
  #     runs-on: ubuntu-latest
  #     steps:
  #       - ... when tests added

  build-and-push:
    runs-on: ubuntu-latest
    # needs:
    #   - run-tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          push: true
          tags: |
            ghcr.io/ubclaunchpad/neuron:latest
            ghcr.io/ubclaunchpad/neuron:${{ github.ref_name }}
            ghcr.io/ubclaunchpad/neuron:${{ github.sha }}
