@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;

/* convenient constants */
$hdr-h: 40px;
$slot-h: 30px;
$time-col-w: 64px; // adjust to taste

.availability-grid {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: $padding-lg;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include text-title;
    color: $text-dark;
  }

  &__actions {
    display: flex;
    gap: $padding-sm;
  }

  &__container {
    position: relative;
    z-index: 0;
  }

  &__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__day-header {
    height: $hdr-h;
    background: $bg-white;
    color: $text-dark;
    @include text-reg;
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;

    &:last-child {
      border-right: none;
    }
  }

  &__day-header {
    padding: $padding-xs;
    padding-top: $padding-xxs;

    &:nth-child(odd) {
      background: #F9F9F9;
    }
  }

  &__time-label,
  &__cell {
    height: $slot-h;
  }

  &__time-label {
    @include text-sm;
    color: $text-grey;
    padding-right: $padding-xs;
  }

  &__row {
    &:nth-child(even) .availability-grid__slot {
      border-bottom: 1px solid #E0E0E0;
    }

    &:last-child .availability-grid__slot {
      border-bottom: none;
    }
  }

  &__slot {
    height: 100%;
    transition: background-color $transition-fast, transform $transition-fast;
    padding: 0;
    border-bottom: 1px solid #F7F7F7;
    border-right: 1px solid #E0E0E0;
    background-color: var(--base-background-color);
    --base-background-color: white;

    &:nth-child(odd) {
      --base-background-color: #F9F9F9;
    }

    &:last-child {
      border-right: none;
    }

    &.available {
      background-color: $text-grey;
    }

    &.editable {
      cursor: pointer;
      user-select: none;

      &.available {
        background-color: $button-positive;
      }

      &.preview {
        &.preview-available:not(.available) {
          background-color: rgba($button-positive, 0.1);
        }
    
        &:not(.preview-available) {
          &.available {
            background-color: rgba($button-negative, 0.1);
          }
    
          &:not(.available) {
            background-color: var(--base-background-color);
          }
        }
      }
    }
  }

  /* Drag overlay that captures the gesture */
  &__overlay {
    position: absolute;
    left: $time-col-w;
    right: 0;
    top: $hdr-h;
    bottom: 0;
    touch-action: none;
  }
}
